.titulo-seccion {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 10px;
}

.color-proximo {
  background-color: #FFE6CC; 
  color: #DA8E3D;
}

.color-eventos {
  background-color: #FFE4FD; 
  color: #CE4FC5;
}

.nuevoEvento {
  border-width: 0;
  outline: none;
  flex: 1;
  resize: none;
  margin-right: 10px;
}

.itemEvento {
  display: flex;
  align-items: flex-start;
}

.agregarEvento {
  margin-top: 10px;
  
}

.seleccionProximo {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.indicadorDias {
  margin-top: 12px; 
  margin-left: 10px;
}

.inputDias {
  field-sizing: content;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(199, 199, 199);
  border-radius: 10px;
}
.color-fechas{
  
  background-color: #a5a2a5; 
  color: rgb(43, 0, 87);
}

.color-evaluaciones{
  
  background-color: #928e92; 
  color: rgb(43, 0, 87);
}
